@font-face {
    font-family: 'Leto Text Sans';
    src: url('../fonts/LetoTextSansDefect.woff2') format('woff2'),
        url('../fonts/LetoTextSansDefect.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
